body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

div {
    background-color: rgba(0, 0, 255, 0.8);
    width: 300px;
    height: 300px;
}