body {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

div {
    background-color: greenyellow;
    padding: 20px;
}


div::before {
    content: "" ;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
}

div::after {
    content: "<---" ;
    background-color: antiquewhite;
}